.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #ffffff;
    background: #224267;
}

.nav-tabs>li.active>a, .nav-tabs>li>a:hover {
    border: none;
    color: black !important;
    font-size: larger;
    background: #fff;
}

.nav-tabs>li>a::after {
    content: "";
    background: #224267;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after, .nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #224267 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.nav-tabs>li {
    width: 33%;
    text-align: center;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 30px;
}

body {
    background: #EDECEC;
    padding: 50px
}

div.viewItems {
    margin-top: 2rem;
}

@media all and (max-width:724px) {
    .nav-tabs>li>a {
        padding: 5px 5px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li>a:hover {
        font-size: small;
    }
}